
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Producto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  
  



  <style>

    
body {
            background-image: url('/fondo2.jpeg');
            background-size: cover; /* Ajustar la imagen al tamaño de la ventana del navegador */
            background-attachment: fixed; /* Opcional: hacer que el fondo permanezca fijo al desplazar la página */
        }
   
        th, input {
    text-align: center;
  }


    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    .navigation a {
            position: relative;
            font-size: 1.1em;
            color: #039cd8;
            text-decoration: none;
            font-weight: 500;
            margin-left: 40px;
        }
        
        .navigation a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background: #039cd8;
            border-radius: 5px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s;
        }
        
        .navigation a:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }
        
        .navigation .btnLogin-popup {
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid #747272;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: #039cd8;
            font-weight: 500;
            margin-left: 40px;
            transform: .5s;
        }
        
        .navigation .btnLogin-popup:hover {
            background: #039cd8;
            color: #162938;
        }
  </style>


</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/index.ejs">Inicio</a></li>
        <li><a href="/usuario.ejs">Usuarios</a></li>
        <li><a href="/empleado.ejs">Empleados</a></li>
        <li><a href="/clientes.ejs">Clientes</a></li>
        <li><a href="/ordenes.ejs">Ordenes</a></li>
        <li><a href="/cotizacion.ejs">Cotizaciones</a></li>
        <li><a href="/categoria.ejs">Categoria</a></li>
        <li><a href="/producto.ejs">Productos</a></li>
        <li><a href="/servicio.ejs">Servicios</a></li>
        <li><a href="/proveedores.ejs">Proveedores</a></li>
        <li><a href="/materia.ejs">Materia Prima</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">

    <nav class="navigation">
    <div class="col-sm-3 sidenav hidden-xs">
      <center><img src="/logo.png" alt="Logo del siteo web" style="width: 120px; height: auto;"></center>
      <ul class="nav nav-pills nav-stacked">
        <li ><a href="/index.ejs">Inicio</a></li>
        <li><a href="/usuario.ejs">Usuarios</a></li>
        <li><a href="/empleado.ejs">Empleados</a></li>
        <li><a href="/clientes.ejs">Clientes</a></li>
        <li><a href="/ordenes.ejs">Ordenes</a></li>
        <li><a href="/cotizacion.ejs">Cotizaciones</a></li>
        <li><a href="/categoria.ejs">Categoria</a></li>
        <li class="active"><a href="/producto.ejs">Productos</a></li>
        <li><a href="/servicio.ejs">Servicios</a></li>
        <li><a href="/proveedores.ejs">Proveedores</a></li>
        <li><a href="/materia.ejs">Materia Prima</a></li>
      </ul><br>
    </div>
  </nav>

    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Productos</h4>
        <p>Aqui se encuentran todos los productos registrados.</p>
      </div>
    </div>


    <!-- tabla de registro-->
    <div class="col-sm-9">
        <div class="well">
          

            <div  >    
                
              <a href="/productoCreate" class="btn btn-outline-primary mt-4">Agregar Producto<i class='bx bxs-plus-circle bx-md'></i></a>   
               
              <table class="table table-bordered table-striped text-center mt-4" id="tuTabla">

                
                
                <thead>
                    
                    <tr class="bg-primary text-white">
                      <th scope="col" style="text-align:center;">ID <br><input type="text" style="text-align:center; color: black;" id="filterID"></th>
                      <th scope="col" style="text-align:center;">NOMBRE <br><input type="text" style="text-align:center; color: black;" id="filterNombre"></th>
                      <th scope="col" style="text-align:center;">DESCRIPCION <br><input type="text" style="text-align:center; color: black;" id="filterTelefono"></th>
                      <th scope="col" style="text-align:center;">CATEGORIA <br><input type="text" style="text-align:center; color: black;" id="filterPuesto"></th>
                      
                      <th scope="col">ACCIONES</th> 
                      

                    </tr>
                  </thead>
                
                  



                <tbody>
                  <% results.forEach((producto)=>{ %>
                    <tr>  
                        <td><%= producto.idProducto %></td>  
                        <td><%= producto.nombre %></td>
                        <td><%= producto.descripcion %></td>
                        <td><%= producto.nombre2 %></td>
                       
                        



                        
                        
                
                        
                        <td>
                          <a href="/productoEdit/<%= producto.idProducto %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i></a>
                          <a href="/productoDelete/<%= producto.idProducto %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>                   
                        </td>
                    
                    </tr>                                   
                 <% }) %>
                </tbody>
              </table>
              </div>



        </div>
      </div>
<!-- tabla de registro-->






<script>
    // Obtén los elementos de entrada (input) para filtrar
    const filterID = document.getElementById("filterID");
    const filterNombre = document.getElementById("filterNombre");
    const filterTelefono = document.getElementById("filterTelefono");
    const filterPuesto = document.getElementById("filterPuesto");
  
    // Obtén la tabla que deseas filtrar
    const table = document.getElementById("tuTabla"); // Asegúrate de reemplazar "tuTabla" con el ID de tu tabla.
  
    // Agrega eventos de escucha para los campos de filtro
    filterID.addEventListener("input", filterTable);
    filterNombre.addEventListener("input", filterTable);
    filterTelefono.addEventListener("input", filterTable);
    filterPuesto.addEventListener("input", filterTable);
  
    // Función para filtrar la tabla
    function filterTable() {
      const filterIDValue = filterID.value.toUpperCase();
      const filterNombreValue = filterNombre.value.toUpperCase();
      const filterTelefonoValue = filterTelefono.value.toUpperCase();
      const filterPuestoValue = filterPuesto.value.toUpperCase();
  
      const rows = table.getElementsByTagName("tr");
  
      for (let row of rows) {
        const cells = row.getElementsByTagName("td");
        if (cells.length >= 4) {
          const id = cells[0].textContent || cells[0].innerText;
          const nombre = cells[1].textContent || cells[1].innerText;
          const telefono = cells[2].textContent || cells[2].innerText;
          const puesto = cells[3].textContent || cells[3].innerText;
  
          if (
            id.toUpperCase().includes(filterIDValue) &&
            nombre.toUpperCase().includes(filterNombreValue) &&
            telefono.toUpperCase().includes(filterTelefonoValue) &&
            puesto.toUpperCase().includes(filterPuestoValue)
          ) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        }
      }
    }
  </script>










  </div>
</div>

</body>
</html>